*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main .nav{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}
.nav a{
    margin: 0px 10px;
    color: #333;
    text-decoration: none;
}
.nav a:last-child{
    margin-right: 20px;
}
.nav a img{
    width: 30px;
    height: 30px;
    border-radius: 50%
   
}
.nav a:nth-child(1):hover,
.nav a:nth-child(2):hover{
    text-decoration: underline;
}
.nav a:nth-child(3),
.nav a:nth-child(4){
    margin-left: 20px;
    border-radius: 50%;
}
.nav a:nth-child(4){
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}
.nav a:nth-child(4):hover{
    background-color: #ddd;
}
.nav a:nth-child(3){
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.nav a:nth-child(3):hover{
    background-color: #ddd;
}
.content{
    text-align: center;
    margin-top: 50px;
    height: 400px;
    
}

.content__main{
    
 
}
.content__main-img{

}
.content__main-form{
   margin: 20px 0;
   position: relative;
   
}
.content__form-icon{
    position: absolute;
    top: 33%;
    left: 27%;
    transform: translateY(-33%), translateX(-27%);
}
.content__main-form input[type="text"]{
    width: 60%;
    max-width: 100%;
    font-size: 16px;
    border-radius: 24px;
    outline: none;
    border:1px solid #dfe1e5;
    max-width:48%;
    padding: 12px 8px 12px  16px;
    padding-left: 40px;
}
.content__main-form input[type="text"]:focus{
    box-shadow: 0px 0px 5px #eaeaea;
}
.content__form-icon{

}
.content__main-search{

}
.content__main-search button{
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        margin: 11px 20px;
        padding: 0 20px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;

}
.content__main-search button:hover{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px #eaeaea;
}

.content__main-luanguages{
    margin: 30px 0;
}
.content__main-luanguages a{
    text-decoration: none;
    color: #1a0dab;
    margin-left: 10px;
}
.content__main-luanguages a:hover{
    text-decoration: underline;
}

.socialicons{
    display: flex;
    margin-top: 100px;
    justify-content: center;

}
.socialicons .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius:50%;
    color:#000;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0  0 2px 0px rgba(0, 0, 0, 0.05);
    
    font-size:20px;
    margin: 0 20px;
    position: relative;
}
.icon::after{
    content:"";
    width: 40px ;
    height:40px;
    z-index: -1;
    position: absolute;
    bottom: -40px;
    left: 0;
    background: linear-gradient(to bottom, rgb(158, 0 , 231), rgb(57, 1, 211));
    transition: all 0.5s ease;
}
.socialicons .icon:hover{
    color: #fff;
}
.icon:hover::after{
    bottom:0;
}